.container {
    background-image: url('./images/portada.webp');
    text-align: center;
    display: flex;
    color: purple;
    height: 350px;
    width: 600px;
}

#start-btn {
    text-decoration: solid;
    text-emphasis: initial;
    color: coral;

}

.background {
    text-align: center;
    display: flex;
    height: 400px;
    width: 600px;
}

#player-life {
    border: 5px solid red;
    width: 200px;
    height: 20px;
    position: relative;
    bottom: 110px;
    left: 300px;
    color: white;

}

#enemy-life {
    border: 5px solid red;
    width: 200px;
    height: 20px;
    position: relative;
    bottom: 320px;
    left: 50px;
    color: white;

}

#fatherDiv {
    position: absolute;
}