.container {
    background-image: './assets/images/batalla-campo.png';
    text-align: center;
    color: purple;
    display: flex;
    justify-content: center;
    align-self: baseline;
    height: 300px;
    width: 100%;
}