.container {
    background-image: url('./images/portada.webp');
    text-align: center;
    display: flex;
    color: purple;
    height: 400px;
    width: 600px;
}

#start-btn {
    text-decoration: solid;
    text-emphasis: initial;
    color: coral;

}

.background {
    text-align: center;
    display: flex;
    height: 400px;
    width: 600px;
}